*{

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
 
}
nav {
 
    height: 70px;
    background-color:rgba(32, 31, 31, 0.795);
  }
  #logo {
    float: left;

  }


  nav ul {
    list-style: none;
    text-align: center;
    margin-top: 0;
    padding-right: 130px;
  }
  nav ul li {
    display: inline-block;
    margin-right: 20px;
    list-style-type: none;
    font-size: 17px;
    margin-top: 0%;
    line-height: 70px;
   
  }
  nav ul li a {
    text-decoration: none;
    color:white;
    margin: 7PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
   
    
  }

  .content{
    display: flex;
    margin: 20px 200px 10px 200px; 

  }
  .img{
    
    background-blend-mode: darken;
    background: rgba(0,0,0,0.6) url("https://images.unsplash.com/photo-1612862862126-865765df2ded?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8c2lnaXJpeWElMjByb2NrfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat center;
    width: 300%;
    height: 80vh;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin: auto;
    transition: 2s;
  

}
.img:hover{
    filter:drop-shadow(100%);
    transform: scale(1.1);
}
.container{

    padding-left: 70px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(18, 16, 90);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.img .title{

    color: white;
    padding-top: 370px;
    width: 75%;
    padding-left: 50px;
    font-size: 40px;
    font-family: sans-serif;
}


.content2{
    display: flex;
    margin: 80px 200px 10px 200px; 

  }
  .img2{
   
    background: rgba(0,0,0,0.6)url("./img/6.jpg") ;
    background-blend-mode: darken;
    width: 300%;
    height: 70vh;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin: auto;
    transition: 2s;
    
}
.img2:hover{
    filter:drop-shadow(100%);
    transform: scale(1.1);
}
.container2{

    padding-left: 70px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(18, 16, 90);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.img2 .title{

    color: white;
    padding-top: 300px;
    width: 75%;
    padding-left: 50px;
    font-size: 30px;
    font-family: sans-serif;
}

.content3{
    display: flex;
    margin: 80px 200px 10px 200px; 

  }
  .img3{
    
    background-blend-mode: darken;
    background: rgba(0,0,0,0.6) url("./img/7.jpg") no-repeat center;
    width: 350%;
    height: 80vh;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin: auto;
    transition: 2s;
  

}
.img3:hover{
    filter:drop-shadow(100%);
    transform: scale(1.1);
}
.container3{

    padding-left: 70px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(18, 16, 90);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.img3 .title{

    color: white;
    padding-top: 300px;
    width: 75%;
    padding-left: 50px;
    font-size: 40px;
    font-family: sans-serif;
}


.content4{
    display: flex;
    margin: 80px 200px 10px 200px; 

  }
.img4{
    
    background-blend-mode: darken;
    background: rgba(0,0,0,0.6) url("./img/8.jpg") no-repeat center;
    width: 400%;
    height: 80vh;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin: auto;
    transition: 2s;
  

}
.img4:hover{
    filter:drop-shadow(100%);
    transform: scale(1.1);
}
.container4{

    padding-left: 70px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(18, 16, 90);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.img4 .title{

    color: white;
    padding-top: 370px;
    width: 75%;
    padding-left: 50px;
    font-size: 40px;
    font-family: sans-serif;
}
.footer{

    background-color: black;
    height: 80px;
 }
 
 .footer,h3{
 
     color: #fff;
     text-align: center;
     padding-top: 10px ;
     
 }